# OS / editor cruft
.DS_Store
Thumbs.db
desktop.ini
*.log

# Dependencies (none currently, but safe if you add tooling later)
node_modules/
.vercel/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
